---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/astro/Header.astro';
import Footer from '../components/astro/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
  <Header />
  <main class="min-h-screen">
    <slot />
  </main>
  <Footer />
</BaseLayout>
